@import "tailwindcss";


@theme {
  --color-primary: #FAFAFA;
  --color-secondary: #DB4444;
  --color-input: #F5F5F5;
  --font-pop: "Poppins", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}


ome{
  color: #00000066;
}
