@import "tailwindcss";


@theme {
  --color-primary: #FAFAFA;
  --color-secondary: #DB4444;
  --color-input: #F5F5F5;
  --color-star: #FFAD33;
  --font-pop: "Poppins", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}


/* Input focus border utility */
.input-focus-border {
  transition: border-color 0.3s ease;
}
.input-focus-border:focus-within {
  border-color: var(--color-secondary);
}
